@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>The application is developed using ASP.NET Core, ASP.NET Core MVC and Entity Framework Core toolsets.</p>
