@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    IBA Gomel Park<br />
    Gomel City<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:aantonau@gomel.iba.by">aantonau@gomel.iba.by</a><br />
    <strong>Marketing:</strong> <a href="mailto:aantonau@gomel.iba.by">aantonau@gomel.iba.by</a>
</address>
